services:
  - type: web
    name: vincere-api
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "node src/index.js"
    autoDeploy: true
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: MONGODB_DB
        sync: false
      - key: FRONTEND_ORIGIN
        sync: false
      - key: OWNER_EMAIL
        sync: false
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: SMTP_SECURE
        sync: false